<h3 class="text-center">Contact Us</h3>

<div ng-controller="contactCtrl">
	<div class="container center-form">
		<div class="row">
			<form class="form-horizontal" method="post">
				<div class="center-fields">

					<div class="form-group has-feedback">				
						<div class="col-xs-12">
							<label>Name</label>
							<div class="inner-addon left-addon">
							<input class="form-control" type="text" name="email" ng-model="contact.name">
							<i class="glyphicon glyphicon-user"></i>
							</div>
						</div>						
					</div>

					<div class="form-group">
						<div class="col-xs-12">
							<label>Email</label>
							<div class="inner-addon left-addon">
							<i class="glyphicon glyphicon-envelope"></i>
							<input class="form-control" type="text" name="email" ng-model="contact.email">
							</div>
						</div>
					</div>		

					<div class="form-group has-feedback">
						<div class="col-xs-12">
							<label>Subject</label>
							<div class="inner-addon left-addon">
							<input class="form-control" ng-model="contact.subject"></input>
							<i class="glyphicon glyphicon-comment"></i>
							</div>
						</div>
					</div>
				</div> <!-- closing class="center-fields" -->

					<div class="form-group">
						<div class="col-xs-12">
							<label>Message</label>
							<textarea class="form-control" rows="5" cols="8" ng-model="contact.message"></textarea>
						</div>
					</div>

				<div class="text-center">
					<button class="btn btn-primary btn-lg">Send</button>
				</div>

			</div> <!-- Clossing row div -->
		</div> <!-- Closing Container div -->
	</form>

</br>
<p> {{contact}} </p>

</div> <!-- Closing ng-controller -->